<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michelle Sullivan</title>
</head>

<body>
    <h1>Michelle Sullivan</h1>
    <h2>Data Analyst</h2>
    <p>Something something about data and charts something</p>
    <h3>My most important places</h3>
    <div id="map-text">I've lived in many places but somehow keep coming back to California</div>
    <div id="map">
    </div>
    <h3>My most important music</h3>
    <p>I sometimes listen to music while I work. My playlists are often based on books I've read</p>
    <p>I worked on this project to determine whether my music choices have the characteristics of other chart toppers
    </p>
    <div id="spotify-chart"></div>
    <h3>Where I spent my time during Covid-19 lockdowns</h3>
    <div id="locations-bar-chart"></div>
</body>

</html>