<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michelle Sullivan</title>
</head>

<body>
    <h1>Michelle Sullivan</h1>
    <h2>Data Analyst</h2>
    <p>Something something about data and charts something</p>
    <h3>My most important places</h3>
    <div id="map-text">I've lived in many places but somehow keep coming back to California</div>
    <div id="map">
    </div>
    <h3>My most important music</h3>
    <p>I sometimes listen to music while I work. My playlists are often based on books I've read</p>
    <p>I worked on this project to determine whether my music choices have the characteristics of other chart toppers
    </p>
    <div id="spotify-chart"></div>
    <h3>Where I spent my time during Covid-19 lockdowns</h3>
    <p>check check check</p>
    <div id="locations-bar-chart"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="../static/js/googleLocations.js"></script>
</body>

</html>